In [1]:
import pandas as pd

In [17]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [18]:
data_uri = "https://raw.githubusercontent.com/vasudevgupta31/acadamic_datasets/master/loan/loan_train.csv"

In [19]:
data = pd.read_csv(data_uri)

In [25]:
data

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.000,15000000,360.000,1.000,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.000,12800000,360.000,1.000,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.000,6600000,360.000,1.000,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.000,12000000,360.000,1.000,Urban,Y
4,Male,No,0,Graduate,No,600000,0.000,14100000,360.000,1.000,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,290000,0.000,7100000,360.000,1.000,Rural,Y
610,Male,Yes,3+,Graduate,No,410600,0.000,4000000,180.000,1.000,Rural,Y
611,Male,Yes,1,Graduate,No,807200,24000.000,25300000,360.000,1.000,Urban,Y
612,Male,Yes,2,Graduate,No,758300,0.000,18700000,360.000,1.000,Urban,Y
613,Female,No,0,Graduate,Yes,458300,0.000,13300000,360.000,0.000,Semiurban,N